<!-- Sidebar -->
<aside class="border-right" id="sidebar-wrapper">
    <div class="d-flex align-items-start flex-column" style="height: 100%; width: 100%">
        <div class="list-group mt-2">
            <a href="/mijn-portfolio.php" class="list-group-item list-group-item-action active">
                <img src="/img/icons/menu/menu-mijnportfolio.svg" width="17" height="17" alt="">
                Mijn portfolio
            </a>
            <a href="/mijn-edelmetalen.php" class="list-group-item list-group-item-action">
                <img src="/img/icons/menu/menu-mijn-edelmetalen.svg" width="17" height="17" alt="">
                Mijn edelmetalen
            </a>
            <a href="/mijn-gegevens.php" class="list-group-item list-group-item-action">
                <img src="/img/icons/menu/menu-mijngegevens.svg" width="17" height="17" alt="">
                Mijn gegevens
            </a>
            <a href="/documenten.php" class="list-group-item list-group-item-action">
                <img src="/img/icons/menu/menu-documenten.svg" width="17" height="17" alt="">
                Documenten
            </a>
            <a href="/safe-tarieven.php" class="list-group-item list-group-item-action">
                <img src="/img/icons/menu/menu-tarieven.svg" width="17" height="17" alt="">
                Tarieven
            </a>
            <a href="/safe-contact.php" class="list-group-item list-group-item-action">
                <img src="/img/icons/menu/menu-contact.svg" width="17" height="17" alt="">
                Contact
            </a>
        </div>

        <form id="quick-options" class="mt-4 mt-md-auto mb-4">
        <ul>
            <li>
                <img src="/img/icons/menu/menu_instellingen.svg" width="17" height="17" alt="">
                Instellingen
                <ul class="mt-1">
                    <li> <img src="/img/icons/menu/menu-currency.svg" width="12" height="12" alt="">
                        <select id="currency">
                            <option>Eurо</option>
                            <option>Dollar</option>
                            <option>Grivna</option>
                        </select>
                    </li>
                    <li> <img src="/img/icons/menu/menu-gewicht.svg" width="12" height="12" alt="">
                        <select id="weight">
                            <option>Troy ounce</option>
                            <option>Gramm</option>
                            <option>Litr</option>
                        </select>
                    </li>
                </ul>
            </li>
        </ul>
        </form>
    </div>
</aside>
<!-- /#sidebar-wrapper -->