@font-face {
	font-family: 'Avenir-Bold';
	src: url('/fonts/avenir/avenirnextcyr-bold.woff2');
}

@font-face {
	font-family: 'Avenir-BoldItalic';
	src: url('/fonts/avenir/avenirnextcyr-bolditalic.woff2');
}

@font-face {
	font-family: 'Avenir-Demi';
	src: url('/fonts/avenir/avenirnextcyr-demi.woff2');
}

@font-face {
	font-family: 'Avenir-DemiItalic';
	src: url('/fonts/avenir/avenirnextcyr-demiitalic.woff2');
}

@font-face {
	font-family: 'Avenir-Heavy';
	src: url('/fonts/avenir/avenirnextcyr-heavy.woff2');
}

@font-face {
	font-family: 'Avenir-HeavyItalic';
	src: url('/fonts/avenir/avenirnextcyr-heavyitalic.woff2');
}

@font-face {
	font-family: 'Avenir-Italic';
	src: url('/fonts/avenir/avenirnextcyr-italic.woff2');
}

@font-face {
	font-family: 'Avenir-Light';
	src: url('/fonts/avenir/avenirnextcyr-light.woff2');
}

@font-face {
	font-family: 'Avenir-LightItalic';
	src: url('/fonts/avenir/avenirnextcyr-lightitalic.woff2');
}

@font-face {
	font-family: 'Avenir-Medium';
	src: url('/fonts/avenir/avenirnextcyr-medium.woff2');
}

@font-face {
	font-family: 'Avenir-MediumItalic';
	src: url('/fonts/avenir/avenirnextcyr-mediumitalic.woff2');
}

@font-face {
	font-family: 'Avenir-Regular';
	src: url('/fonts/avenir/avenirnextcyr-regular.woff2');
}

@font-face {
	font-family: 'Avenir-Thin';
	src: url('/fonts/avenir/avenirnextcyr-thin.woff2');
}

@font-face {
	font-family: 'Avenir-ThinItalic';
	src: url('/fonts/avenir/avenirnextcyr-thinitalic.woff2');
}

@font-face {
	font-family: 'Avenir-UltraLight';
	src: url('/fonts/avenir/avenirnextcyr-ultralight.woff2');
}

@font-face {
	font-family: 'Avenir-UltraLightIt';
	src: url('/fonts/avenir/avenirnextcyr-ultralightit.woff2');
}


@font-face {
	font-family: 'Castoro';
	src: url('/fonts/castoro/Castoro-Italic.woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Castoro';
	src: url('/fonts/castoro/Castoro-Regular.woff2');
	font-weight: normal;
	font-style: normal;
}

